ul {
    gap: 20px;
}
li img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
/* slide */
[aria-roledescription="slide"] {
    background-color: red;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
